/*

// seletores
// escopo
// propiedade
// valor
// = regra css

elemento(div, p, h1, h2 ... ){
    cortexto:vermelho
    propiedade: valor da propiedade

}

seletores
-nome   (chama com o propio nome da tag) = nome da tag            (como nome pricipal)
-classe (chama com . antes da classe)    = passa nome alternativo (tipo sobrenome ou apelido)
-id     (chama com # antes do id)        = indentificador unico   (tipo cpf)


*/

/* para levar ao css ultilizar elemento, atributos e nome do arquivo 
<link rel="stylesheet" href="style.css">*/

/* Atribuição por nome da cor(em ingles)
Atribuição por valor hexadecimal (#000000)(Red green blue)
Atribuição por RGB ( rgb(0,0,255) )
Atribuição por RGBA ( rgba(0,0,0,5) ) */


body{
    background-color: #253492;
}